<br><b>All links and tags:</b><br>
{% for o in out %}Document: <b>{{ o.doc.title }}</b><br>Tags:<br>
{% for l in o.links %}<form method="post" action="{{ req_url }}">{{ l.tag.name }} - {{ l.tag.description }}{% if perms.main.delete_link %}<input type="hidden" name="id_link" value="{{ l.id }}"><input type="hidden" name="do" value="delete"><input type="submit" value="Delete">{% endif %}</form>{% endfor %}
{% if o.free_tags|length > 0 %}{% if perms.main.add_link or perms.main.change_link %}
<form method="post" action="{{ req_url }}"><input type="hidden" name="do" value="add">
    <input type="hidden" name="id_doc" value="{{ o.doc.id }}">
    <select name="id_tag" required>
        {% for tag in o.free_tags %}<option value="{{ tag.id }}">{{ tag.description }}</option>{% endfor %}
    </select>
    <input type="submit" value="Add">
</form>
{% endif %}
{% endif %}
<br>
{% endfor %}
