#!/usr/bin/env python
# -*- coding: utf-8 -*-
#
# File name:    config.py
# Author:       Viator (viator@via-net.org)
# License:      GPL (see http://www.gnu.org/licenses/gpl.txt)
# Created:      2011-08-15

Title = 'OpenChain'

# vi: ts=4
