<b>Current Chains:</b><br> {% for chain in chains %}
    <form method="post" action="{{ req_url }}">
        {{ chain.main_doc.id }} {{ chain.main_doc.title }} → {{ chain.slave_doc.id }} {{ chain.slave_doc.title }}
        {% if perms.main.delete_chain %}
        <input type="hidden" name="chain_id" value="{{ chain.id }}">
        <input type="submit" name="delete" value="Delete">
        {% endif %}
    </form>
    {% endfor %}<br>
All documents (id == title)<br><br>
{% for doc in docs %}
{{ doc.id }} == {{ doc.title }}<br>
{% endfor %}
Chains: id_main-id_slave id_main-id_slave<br>
{% if perms.main.change_chain or perms.main.add_chain %}
    <b>Add Chains:</b><br>
    <form method="post" action="{{ req_url }}">
        <input type="text" name="chains" value="">
        Example: 1-2 3-4 2-3<br>
        <input type="submit" name="save" value="Save">
    </form>
{% endif %}
