<b>Openchain system - Support Page</b><br>
You can do it:<br>
{% if user.is_staff %}
<a href="/admin/">Admin Panel</a><br>
{% endif %}
{% if perms.main.add_doc and perms.main.add_tag %}
<a href="/documents/parse/">Get Print Forms</a><br>
{% endif %}
{% if perms.main.can_view_link %}
<a href="/tags/links/">Links doc-tags</a><br>
{% endif %}
{% if perms.main.can_view_tag %}
<a href="/tags/show/">All tags</a><br>
{% endif %}
{% if perms.main.can_view_chain and perms.main.can_view_doc %}
<a href="/chains/add/">Chains - Add</a><br>
{% endif %}
<a href="/perms/user/">User perms for docs</a><br>
<a href="/perms/group/">Group perms for docs</a><br>
